


{% extends 'restaurant/base.html' %}
{% load static %}

{% block content %}
<h1>Saweetie Treats Co</h1>
<table>
    <tr>
        <td id="welcome">Welcome to Saweetie Treats ! <br> <br> <br> <span id="header-two">(Pick some treats for yourself or your saweetie !!)</span></td>
        <td><img src="/static/bakery.jpg"></td>
        <td>
            <ul>
            <li id="bolded">Location:</li>
            <li>222 Newbury Street Boston, MA, 02215</li>
            <br>
            <li id="bolded">Hours of Operation</li>
            <li>Monday: Closed, Sorry Loves</li>
            <li>Tuesday: 1:00pm - 8:00pm</li>
            <li>Wednesday: 1:00pm - 8:00pm</li>
            <li>Thursday: 12:00pm - 8:00pm</li>
            <li>Friday: 12:00pm - 8:00pm</li>
            <li>Saturday: 10:00pm - 6:00pm</li>
            <li>Sunday: Closed, Sorry Loves</li>
            </ul>
        </td>
    </tr>
</table>


{% endblock %}