<!-- 
Author: Derinell Rojas
Email: droja@bu.edu 
Date: 2025-02-27 
Description: base.html template for mini_fb
-->


{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Mini Facebook</title>
    <link rel="stylesheet" href="{% static 'mini_fb.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a id="base" href="{% url 'show_all_profiles' %}">All Profiles</a></li>
            <li><a id="base" href="{% url 'create_profile' %}">Create Profile</a></li>
            {% if profile %}
            {% if request.user.is_authenticated %}
            <!-- If we're on a profile page, show the News Feed link -->
            <li><a id="base" href="{% url 'news_feed' profile.pk %}">News Feed</a></li>
            {% endif %}
            {% endif %}

         
             {% if request.user.is_authenticated %}
            <li>
                <form action="{% url 'logout' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <!-- To save the CSS styling -->
                    <a id="base" href="#" onclick="this.closest('form').submit(); return false;">Logout</a>
                </form>
            </li>
            {% else %}
            <li><a id="base" href="{% url 'login' %}">Login</a></li>
            {% endif %}
            
            <div id="base">
                {% if request.user.is_authenticated %}
                Logged in user: {{ request.user }}.
                {% else %}
                Not logged in.
                {% endif %}
                </div>
        </ul>
       
    </nav>
    <main>
    {% block content %}
    {% endblock %}
    </main>
</body>
<footer>
    <p>Web Application created by Derinell Rojas</p>
    <p>If you'd like, you can connect with me on <a href="https://www.linkedin.com/in/derinellrojas/">LinkedIn</a></p>
</footer>
</html>