<!-- base.html template -->

{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Mini Facebook</title>
    <link rel="stylesheet" href="{% static 'mini_fb.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a id="base" href="{% url 'show_all_profiles' %}">All Profiles</a></li>
            <li><a id="base" href="{% url 'create_profile' %}">Create Profile</a></li>
        </ul>
    </nav>
    <main>
    {% block content %}
    {% endblock %}
    </main>
</body>
<footer>
    <p>Web Application created by Derinell Rojas</p>
    <p>If you'd like, you can connect with me on <a href="https://www.linkedin.com/in/derinellrojas/">LinkedIn</a></p>
</footer>
</html>