<!-- 
Author: Derinell Rojas
Email: droja@bu.edu 
Date: 2025-02-27 
Description: template of form to create a profile for mini_fb
-->
{% extends 'mini_fb/base.html' %}

{% block content %}

<header>
    <h1 id="header-name">Mini Facebook</h1>
</header>
<h1 id="form-header">Create a New Profile</h1>
<form action="{% url 'create_profile'%}" method="POST">
    {% csrf_token %}
<table id="form">
    {{form.as_table}} <!--Obtains form from form.py thats associated to this html file-->
</table>
<div id="submit-button">
<input id="submit" type="submit" name="submit" value="Submit">
<h5 id="cancel-btn">
    <a id="cancel" href="{% url 'show_all_profiles' %}">Cancel</a> 
</h5>
</div>
</form>

{% endblock %}