<!-- 
Author: Derinell Rojas
Email: droja@bu.edu 
Date: 2025-02-27 
Description: template of form to create a status for mini_fb
-->

{% extends 'mini_fb/base.html' %}

{% block content %}

<header>
    <h1 id="header-name">Mini Facebook</h1>
</header>
<h3 id="form-header">Publish a New Status Message for '{{profile.first_name}}'</h1>
<form  method="POST" enctype="multipart/form-data" >
    {% csrf_token %}
<table id="form">
    {{form.as_table}} <!--Obtains form from form.py thats associated to this html file-->
</table>
<div id="files" >
    <input type="file" name = "files" multiple />
</div>

<div id="submit-button">
<input id="submit" type="submit" name="submit" value="Create Status">

<h5 id="cancel-btn">
    <a id="cancel" href="{% url 'show_all_profiles' %}">Cancel</a> 
</h5>

</div>
</form>

{% endblock %}