{% extends 'mini_fb/base.html' %}

{% block content %}
    <div class="profiles-container">
        {% for profile in profiles %}
            <div class="profile-card">
                <!-- Profile Image -->
                <img src="{{ profile.image }}" alt="{{ profile.first_name }}'s profile image" class="profile-image" width="130" height="130">
                
                <!-- Profile Details -->
                <div class="profile-details">
                    <p>{{ profile.first_name }} {{ profile.last_name }}</p>
                    <p>{{ profile.city }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
