<!-- 
Author: Derinell Rojas
Email: droja@bu.edu 
Date: 2025-02-27 
Description: template of form to show an indiv. profile for mini_fb
-->
{% extends 'mini_fb/base.html' %}

{% block content %}
<header>
    <h1 id="header-name">Mini Facebook</h1>
</header>

<div class="profiles-container-single">
    <table style="width: 100%; border-spacing: 20px;">
        <tr>
            <!-- Profile Information Column -->
            <td style="width: 50%; vertical-align: top;">
                <div class="profile-card-single">
                    <!-- Profile Image -->
                    <img src="{{ profile.image }}" alt="{{ profile.first_name }}'s profile image" class="profile-image" width="250" height="250">

                    <!-- Profile Details -->
                    <div class="profile-details-single">
                        <h2 id="name">{{ profile.first_name }} {{ profile.last_name }}</h2>
                        <p>{{ profile.city }}</p>
                        <p>{{ profile.email }}</p>
                    </div>
                </div>
            </td>

            <!-- Status Messages Column -->
            
            <td style="width: 50%; vertical-align: top;">
                <h3>Status Board</h3>
                <div id="status-container">
                    {% for message in profile.get_status_messages %}
                    <div id="status">
                        <strong>by <span id="message-name">{{ message.profile.first_name }}</span> at {{ message.timestamp }}</strong>
                        <p id="message">
                            {{ message.message }}
                        </p>
                        <br>
                    </div>
                    {% endfor %}
                    <h5 id="publish">
                        <a id=publish-a href="{% url 'create_status' profile.id%}"> Publish Status</a>
                       
                    </h5>
                </div>
            </td>
        </tr>
    </table>
</div>

{% endblock %}
