


{% extends 'quotes/base.html' %}

{% block content %}
<h1>About Keke </h1>
<table>
    <tr>
        <td>
            <h2>Welcome.</h2> 
            <br>
            <p>Thanks for using the <span id="green-underline">Quote of the Day</span> web app.</p>
            <br>
            <p>This Application displays quotes and images of <span id="green-underline">Keke Palmer</span> </p>
        </td>
        <td>
            <br>
            <br>
            <h3>
            Keke Palmer is a multi-talented <span id="green-underline">powerhouse</span> — actress, singer, and unapologetically bold personality. 
           </h3>
           <br>
           <br>
            <h5>
                From her breakout role in Akeelah and the Bee to captivating us in True Jackson, VP, her versatility shines through in every project. Recently, she starred in One of Them Days alongside SZA, bringing her signature strength and charisma to the big screen. 
            </h5>
            <br>
            <br>
            <h3>
            Whether she’s owning the red carpet, gifting us with her soulful vocals, or bringing characters to life, Keke continues to break barriers and own every moment with <span id="green-underline">confidence</span>  and <span id="green-underline">style</span> .
        </h3>
        </td>
    </tr>
</table>
{% endblock %}